* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  background-color: #F0F0F0;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  padding: 70px 75px;
  justify-content: space-around;
  color: #2EB738;
}

.card {
  margin: 0 20px 40px 0px;
  width: 350px;
  height: 366px;
}

.card-info {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.card-info .line-group {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  justify-content: space-around;
}
.card-info .line-group span {
  width: 14px;
}
.card-info .line-group .line {
  display: inline-block;
  height: 2px;
  width: calc(100% - 56px);
  background-color: #2EB738;
}
.card-info .info {
  text-align: center;
}

.card-nine {
  background-color: #ffffff;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  border-radius: 100px 0 30px 0;
  padding: 64px 40px;
}
.card-nine .num-title {
  margin-top: -24px;
  font-weight: bold;
  height: 153px;
  border: 2px solid #ffff;
  text-shadow: #F0F0F0 4px 3px;
  line-height: 128px;
  font-size: 128px;
}
.card-nine .num-calcu {
  margin-bottom: 8px;
  line-height: 24px;
  font-size: 24px;
  letter-spacing: 6px;
}

.footer {
  background-color: #2EB738;
  color: #ffff;
  text-align: right;
  font-size: 16px;
  color: #fff;
  height: 34px;
}
.footer .copyright {
  line-height: 34px;
  margin-right: 85px;
}